body {
    display: flex;
    margin: 0;
}
a {
    text-decoration: none;
}
.wrap {
    width: 100vw;
    height: 600vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100vw;
    height: 8.68vh;
    padding: 25px 1119px 15px 135px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.links {
    width: 100vw;
    height: 5.76vh;
    padding: 0 671px 0 135px;
    display: inline-flex;
    align-items: flex-start;
    gap: 29.626px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.tab_panel {
    width: 100vw;
    height: 43.76vh;
    background-color: #FEC524;
    padding-bottom: 220px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.slider_item_content {
    width: 83.33vw;
    height: 24.4vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.services_block {
    width: 100vw;
    height: 77.85vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.post_services {
    width: 27.71vw;
    height: 66.74vh;
    flex-shrink: 0;
    margin-right: 15px;
    padding: 31px 15px;
}
.deliveries {
    width: 53.33vw;
    height: 66.74vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.delivery {
    width: 25.63vw;
    height: 19.07vh;
    box-sizing: border-box;
    padding: 32px 30px;
}
.export_code_block {
    width: 100vw;
    height: 64.21vh;
    background-color: #042C4B;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}
.col-xl-7 {
    width: 83.33vw;
    height: 41.31vh;
    padding: 30px 15px;
}
.col-xl-7-link {
    display: flex;
    width: 21.09vw;
    height: 8.47vh;
    padding: 28px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FDC13D;
    box-sizing: border-box;
    margin-top: 44px;
}
.fin_services_block {
    width: 100vw;
    height: 85.64vh;
    display: flex;
    justify-content: center;
}
.zip_code_block {
    width: 100vw;
    height: 61.78vh;
    background-color: #042C4B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_block {
    width: 100vw;
    height: 126.92vh;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.branches_block {
    width: 100vw;
    height: 48.62vh;
    background-color: #FEC524;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 100vw;
    height: 76.78vh;
    background-color: #1D2023;
    display: flex;
    justify-content: center;
}
.links > a {
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    color: #99A2AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
}
.slider_item_content > h2 {
    display: flex;
    height: 52px;
    font-family: "Rubik", serif;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 8px 0 0 0;
}
.title > h2 {
    display: flex;
    height: 57px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}
.slider_item_content > p {
    display: flex;
    height: 30px;
    flex-direction: column;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 34px 0 0 0;
}
.post_services > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 18px 0 0 0;
}
.delivery > h4 {
    display: flex;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
}
.delivery > a {
    display: flex;
    height: 17px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-top: 13px;
    text-decoration: none;
}
.col-xl-7 > h2 {
    display: flex;
    height: 57px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F8F8F8;
    font-family: "Rubik", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}
.col-xl-7-info {
    margin-top: 36px;
}
.col-xl-7-info > p {
    display: flex;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #99A2AA;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
.col-xl-7-link > a {
    display: flex;
    width: 88.536px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    text-align: center;
    font-family: "Rubik", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    text-decoration: none;
}
.title {
    width: 14.22vw;
    height: 12.71vh;
}
.fin_container {
    width: 83.33vw;
    height: 82.63vh;
    flex-shrink: 0;
    padding-left: 15px;
    box-sizing: border-box;
}
.fin_news {
    width: 81.04vw;
    height: 23.31vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FDC13D;
    padding-left: 75px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fin_news > h4 {
    display: inline-flex;
    width: 977px;
    padding: 2px 42.85px 0 0;
    height: 60px;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
}
.fin_news > p {
    display: flex;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    color: #0E2F4B;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.fin_news > a {
    display: flex;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}
.fin_services {
    width: 60.42vw;
    height: 28.6vh;
    display: flex;
    justify-content: space-between;
}
.fin_service {
    width: 18.75vw;
    height: 28.6vh;
    box-sizing: border-box;
    padding: 32px 30px;
}
.fin_container > h2 {
    display: flex;
    width: 460.569px;
    height: 57px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 121px;
    margin-bottom: 32px;
}
.fin_service > h4 {
    display: flex;
    width: 162.806px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
}
.fin_service > a {
    display: flex;
    height: 17px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-top: 13px;
}
.col-xl-12 {
    width: 83.33vw;
    height: 38.67vh;
    flex-shrink: 0;
}
.col-xl-12 > h2 {
    display: flex;
    width: 352.037px;
    height: 57px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F8F8F8;
    font-family: "Rubik", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.col-xl-12 > p {
    display: flex;
    width: 1135.118px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #99A2AA;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
#city {
    display: flex;
    width: 35.05vw;
    height: 78px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #E8EBEE;
    background: #FFF;
}
#city::placeholder {
    display: flex;
    width: 18.88vw;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #6C757D;
    font-family: "Rubik", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}
#city_button {
    display: flex;
    width: 17.25vw;
    height: 80px;
    padding: 28px 86.725px 28px 87.05px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FDC13D;
    color: #0E2F4B;
    text-align: center;
    font-family: "Rubik", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 11px;
}
.index_form {
    display: flex;
    margin-top: 80px;
}
.news_and_lawyers {
    width: 83.33vw;
    height: 119.07vh;
    flex-shrink: 0;
    padding: 30px 15px;
    box-sizing: border-box;
}
.news_and_lawyers > h2 {
    display: flex;
    width: 504.597px;
    height: 57px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}
.news_container {
    width: 81.04vw;
    height: 56.14vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 32px;
    margin-bottom: 111px;
}
.news {
    width: 39.56vw;
    height: 26.48vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    padding: 30px;
    box-sizing: border-box;
}
.news_header {
    display: flex;
}
.news_info {
    margin-left: 20px;
}
.news_info > p {
    display: flex;
    width: 71.81px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #99A2AA;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.news_info > h6 {
    display: flex;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 9px 0 0 0;
}
.news_text > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0E2F4B;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
.legal_services {
    width: 81.04vw;
    height: 22.67vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 62px;
}
.legal_service {
    width: 25.63vw;
    height: 9.75vh;
    display: inline-flex;
    box-sizing: border-box;
    padding: 30px 78.83px 30px 40px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}
.legal_service > p {
    display: flex;
    width: 251.17px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    color: #99A2AA;
    font-family: "Rubik", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.banner {
    width: 80.36vw;
    height: 38.35vh;
    flex-shrink: 0;
    margin-top: 20px;
}
.banner > h2 {
    display: flex;
    width: 655.058px;
    height: 57px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Rubik", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
#banner_text {
    display: flex;
    width: 24.9vw;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner > p {
    display: flex;
    width: 197.713px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0E2F4B;
    font-family: "Rubik", serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-top: 27px;
    margin-bottom: 15px;
}
.info_links {
    width: 19.95vw;
    height: 70vh;
    flex-shrink: 0;
    border-bottom: #99A2AA 1px solid;
    display: flex;
    flex-direction: column;
}
.info_links > h6 {
    display: flex;
    width: 173.745px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Rubik", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.info_links > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #99A2AA;
    font-family: "Rubik", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 268.02px;
    margin-bottom: 15px;
}
.trekking {
    width: 83.33vw;
    height: 22.46vh;
    padding: 30px 15px 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 31vw;
    left: 15vh;
}
.cost_services {
    width: 83.33vw;
    height: 8.47vh;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.cost_service {
    width: 18.75vw;
    height: 8.47vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#trek_number {
    display: inline-flex;
    width: 40.2vw;
    height: 72px;
    padding: 0 230px 0 30px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
    box-sizing: border-box;
}
#trek_number::placeholder {
    display: flex;
    width: 16.13vw;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    color: #757575;
    font-family: 'Rubik', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}
.cost_service {
    display: flex;
    width: 18.75vw;
    padding: 25.84px 54.305px 24.16px 54.67px;
    justify-content: center;
    align-items: center;
    gap: 23.94px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
    box-sizing: border-box;
}
.cost_service > p {
    display: flex;
    width: 120.075px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #99A2AA;
    text-align: center;
    font-family: "Rubik", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}